@tailwind base;
@tailwind components;
@tailwind utilities;

/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/raleway-v28-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('./fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/raleway-v28-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('./fonts/raleway-v28-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/raleway-v28-latin-800.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('./fonts/raleway-v28-latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

#root {
  all: unset;
}

@media screen and (min-width: 481px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

:root {
  color-scheme: dark;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #0f0823;
}
body {
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0;
}

button {
  border: unset;
  background: unset;
  font: unset;
  padding: unset;
}

hr {
  width: 50px;
  border: none;
  height: 1px;
  background: theme('colors.secondary');
  opacity: 40%;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.bg-button-header {
  background: linear-gradient(145deg, #0f61a0, #093a60);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 40%),
    -5px -5px 10px rgb(255 255 255 / 70%);
}

.shadow-sm-turquoise {
  box-shadow: 0px 0px 20px -10px theme('colors.turquoise');
}

.shadow-sm-purple {
  box-shadow: 0px 0px 20px -10px theme('colors.purple');
}

.shadow-md-turquoise {
  box-shadow: 0px 0px 50px -10px theme('colors.turquoise');
}

.shadow-md-purple {
  box-shadow: 0px 0px 50px -10px theme('colors.purple');
}

.shadow-lg-purple {
  box-shadow: 0px 0px 50px -25px theme('colors.purple');
}

.mask-swiper {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

.mask-swiper-narrow {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
}

.h-ios-screen {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-height: 100vh;
  max-height: -webkit-fill-available;
  height: 100vh;
  height: -webkit-fill-available;
}

*:focus {
  outline: none;
  filter: brightness(65%);
}
